<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level - %msg%n</pattern>
        </encoder>
    </appender>
		<appender name="CLIMAGE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>climage.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>climage.%d{yyyy-MM-dd}.gz</fileNamePattern>
			</rollingPolicy>
			<append>true</append>
			<encoder>
				<pattern>%-4relative %-5level %logger{35} - %msg%n</pattern>
			</encoder>
		</appender>

    <root level="DEBUG">
			<appender-ref ref="STDOUT" />
    </root>
		<logger level="DEBUG" name="app">
			<appender-ref ref="CLIMAGE" />
		</logger>

</configuration>